<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="ProChan"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:supportsRtl="true">

        <!-- تعريف الإضافة كمصدر Tachiyomi/Mihon -->
        <meta-data
            android:name="tachiyomi.extension.class"
            android:value="ar.prochan.ProChan" />

        <meta-data
            android:name="tachiyomi.extension.name"
            android:value="ProChan" />

        <meta-data
            android:name="tachiyomi.extension.pkg"
            android:value="ar.prochan" />

        <meta-data
            android:name="tachiyomi.extension.version"
            android:value="1.0" />

    </application>

</manifest>
