<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.kanade.tachiyomi.extension.prochan">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="ProChan"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- الكلاس الرئيسي للإضافة -->
        <meta-data
            android:name="tachiyomi.extension.class"
            android:value="eu.kanade.tachiyomi.extension.prochan.Prochan" />

        <!-- اسم الإضافة كما يظهر في Tachiyomi -->
        <meta-data
            android:name="tachiyomi.extension.name"
            android:value="ProChan" />

        <!-- الباكيج الخاص بالإضافة -->
        <meta-data
            android:name="tachiyomi.extension.pkg"
            android:value="eu.kanade.tachiyomi.extension.prochan" />

        <!-- رقم الإصدار -->
        <meta-data
            android:name="tachiyomi.extension.version"
            android:value="1.0" />

        <!-- اللغة الخاصة بالإضافة -->
        <meta-data
            android:name="tachiyomi.extension.lang"
            android:value="ar" />

    </application>

</manifest>
