name: Build PROCHAN Extension

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_USERNAME: ${{AhmedHero55}}
      GITHUB_TOKEN: ${{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}}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Grant execute permission for Gradle wrapper
        run: chmod +x ./gradlew

      - name: Build PROCHAN Extension AAR
        run: ./gradlew :extension:assembleRelease

      - name: Upload AAR
        uses: actions/upload-artifact@v4
        with:
          name: prochan-release-aar
          path: extension/build/outputs/aar/extension-release.aar
