name: Build PROCHAN Extension AAR

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - name: Build PROCHAN Extension AAR
        run: ./gradlew :extension:assembleRelease
        env:
          GITHUB_USERNAME: ${{ secrets.harem }}
          GITHUB_TOKEN: ${{ secrets.token2 }}

      - name: Upload AAR
        uses: actions/upload-artifact@v3
        with:
          name: prochan-extension-release
          path: extension/build/outputs/aar/extension-release.aar
