name: Build Tachiyomi Extension

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: temurin
      - name: Build Debug AAR
        run: ./gradlew assembleDebug
      - name: Upload AAR
        uses: actions/upload-artifact@v3
        with:
          name: prochan-extension
          path: build/outputs/aar/
