name: Build Tachiyomi Extension

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Grant execute permission
      run: chmod +x gradlew

    - name: Build
      run: ./gradlew assembleRelease

    - uses: actions/upload-artifact@v4
      with:
        name: prochan-aar
        path: build/outputs/aar/*.aar
