name: Build Tachiyomi Extension APK

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Grant permission
      run: chmod +x gradlew

    - name: Build extension APK
      run: ./gradlew assembleRelease

    - uses: actions/upload-artifact@v4
      with:
        name: prochan-extension-apk
        path: app/build/outputs/apk/release/*.apk
