name: Build source-api AAR

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Grant permission
      run: chmod +x gradlew

    - name: Build source-api
      run: ./gradlew :source-api:assembleRelease

    - uses: actions/upload-artifact@v4
      with:
        name: source-api-aar
        path: source-api/build/outputs/aar/*.aar
