name: Build Tachiyomi Extension APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 11

      - name: Grant execute permission
        run: chmod +x ./gradlew

      - name: Build extension
        run: ./gradlew :src:ar:ProChan:assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: ProChan-Extension
          path: src/ar/ProChan/build/outputs/apk/debug/*.apk
